<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/custom.css">
    <title>Crowdsourcing app-Welcome</title>
</head>

<body>
    <div class="container-mainpage">
        <div class="mainpage-content">
            <h3>Crowdsourcing app portal</h3>
            <p>
            <h5>Welcome to Crowdsourcing portal.</h5>
            </p>
            <br><br>
            <p>For workers <a class="mainpage-link" href="/app">click here</a></p>
            <p>For admin <a class="mainpage-link" href="/admin" target="_blank">click here</a></p>
        </div>
    </div>
</body>

</html>