{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br><br>
    <form action="{% url 'workers:postdata' %}" method="post">
        <h4>Audio : {{ audio_data.audio_name }}</h4>
        <h6>Tag : {{ audio_data.tag }}</h6>
        <br>
        <audio controls>
            <source src="../../media/{{ audio_data.audio_file }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <br><br>
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="username" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Transcribe here</span>
            <textarea type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="trans_data" cols="80" rows="16" required></textarea>
        </div>
        <input name="audio_id" value="{{ audio_data.id }}" hidden>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}