{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h4>Audio results</h4>
    {% if audio_data %}
    {% for data in audio_data %}
    <div class="card">
        <div class="card-body">
            <p><a class="card-link" href="{% url 'workers:getaudio' data.id %}" id="myAudio">{{ data.audio_name }}</a>
            </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p style="color: red;">No audios available for the searched tag or language</p>
    {% endif %}
    <br>
    <a href="/app" class="btn btn-secondary">Home</a>
</div>

{% endblock %}