{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h4>Audio results</h4>
    {% if audio_data %}
    {% for data in audio_data %}
    <div class="card">
        <div class="card-body">
            <p><a href="{% url 'workers:getaudio' data.id %}">{{ data.audio_name }}</a></p>
            <p>{{ data.tag }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p style="color: red;">No audios available for the searched tag or language</p>
    {% endif %}
</div>

{% endblock %}